<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andriod.steeltrueturtle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".googleLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HostOrJoin" />
        <activity android:name=".host.lineCreation" />
        <activity android:name=".host.lineManagement" />
        <activity android:name=".host.queuersInLine" />
        <activity android:name=".host.queuerInLinePopUp"
            android:theme="@style/AppTheme.touchDisappear"></activity>
        <activity android:name=".client.acquireInformation" />
        <activity android:name=".client.nearbyLines" />
        <activity android:name=".client.detailsPage" />
        <activity android:name=".client.nearbyLinesPopUp"
            android:theme="@style/AppTheme.touchDisappear"></activity>



    </application>

</manifest>